.app-border {

    border-width: 20px;
    border-radius: 5px;
    border-top-style: ridge;
    border-right-style: groove;
    border-bottom-style: double;
    border-left-style: dashed;
    border-top-color: blueviolet;
    border-right-color: chartreuse;
    border-bottom-color: coral;
    border-left-color: mediumspringgreen;
    height: auto;
    margin: 0px;

}

h1 {
    text-align: center;
    color:black;
    text-decoration: double;
    text-decoration-color: aquamarine;
}