 body, html {
  
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure full height of the viewport*/
  width: 100%; /* Ensure full width of the viewport*/

 }

 .start-menu {
  position: relative;
  height: 100%;
  width: 100%;

 }

 #app-border {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: aqua;
  border-width: 20px;
  border-top-style: ridge;
  border-right-style: groove;
  border-bottom-style: ridge;
  border-left-style: groove;
  border-top-color: blueviolet;
  border-right-color: chartreuse;
  border-bottom-color: coral;
  border-left-color: mediumspringgreen;
  width: 100%;
  height: 100%;

} 

#game-canvas{
  position: absolute;
  z-index: -1;
  margin: auto;
  padding: auto;
  height: 100%; /* Lastest thing modofied; the empty height and width in HTML helped*/
  width: 100%;
  box-sizing: border-box;
  background-color: white;
}

/* Navbar container */
.navbar {
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  background-color: pink;
  font-family: Arial;

}
  
/* P tags in navbar */
.navbar p {
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} 
  
/* Pause button */
.pausebtn {
  border-width: 2px;
  border-radius: 60px;
  outline: 2px;
  color: black;
  padding: 14px 16px;
  background-color: gray;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
} 



/* #game-canvas{
  position: inherit;
  margin: inherit;
  padding: inherit;
  height: inherit; 
  width: inherit;
  box-sizing: inherit;
  background-color: white;

} */
